

<main class="main">
    

    <div class="content">
        
<section>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="text-center">Edit Product</h2>
        <form
          action="/admin/postUpdateProduct/{{productData._id}}"
          enctype="multipart/form-data"
          method="POST"
        >
          <label for="">Name</label>
          <input
            type="text"
            name="name"
            class="form-control"
            placeholder=""
            value="{{productData.name}}"
          />

          <label for="">Category</label>
          <h5>{{productData.category.category}}</h5>
          
          
          <select name="category" class="form-select mb-3"   id="">
                        {{#each categoryData}}
                        <option value="{{this._id}}">{{this.category}}</option>
                        {{/each}}
                    </select><br>
           
          <label for="">Price</label>
          <input
            type="text"
            name="price"
            class="form-control"
            value="{{productData.price}}"
          />

          <label for="">Description</label>
          <input
            type="text"
            name="description"
            class="form-control"
            value="{{productData.description}}"
          />

          <label for="">Product Quantity</label>
        <input type="number" min="0" name="stock" class="form-control" value="{{productData.stock}}">

          <label for="">Image</label>
          <img
            src="/product_uploads/{{productData.image.[0]}}"
            alt=""
            style="width: 100px;height: 150px" id="imgView" class='py-3' "
          />
           <img
            src="/product_uploads/{{productData.image.[1]}}"
            alt=""
            style="width: 100px;height: 150px" id="imgView" class='py-3' "
          />
          <img
            src="/product_uploads/{{productData.image.[2]}}"
            alt=""
            style="width: 100px;height: 150px" id="imgView" class='py-3' "
          />
          <input type="file" name="image" class="form-control" onchange="viewImage(event)"  id="formFileMultiple" multiple/>

          <button type="submit" class="btn btn-success mt-4">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
    function viewImage(event){
        document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
    }
</script>
       
    </div>
</main>